<header>
    <h1>Contáctanos</h1>
  </header>
<br>
<h5>¡Gracias por visitar nuestro cine! Estamos siempre disponibles para atender cualquier consulta o pregunta que tengas sobre nuestras instalaciones o funciones. Aquí te dejamos la información que necesitas para contactarnos:</h5>
<br>
<div class="contenedor">
    <div class="izquierda">
        <form action="#" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <label for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto" required>
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            <button type="submit">Enviar</button>
          </form> </div>
    <div class="derecha">
        <p>Nuestro cine tiene horarios de apertura y cierre específicos, por lo que es importante que verifiques nuestros horarios de atención en nuestra página web para que puedas planificar tu visita con anticipación.</p>
        <p>Si lo prefieres, también puedes contactarnos por teléfono o correo electrónico:</p>
        <ul>
            <li>Teléfono: <a href="tel:555-555-5555">555-555-5555</a></li>
            <li>Correo electrónico: <a href="mailto:cinelandia@gmail.com">cinelandia@gmail.com</a></li>
            <li>Dirección: Avenida Universidad 940, Ciudad Universitaria, Universidad Autónoma de Aguascalientes, 20100 Aguascalientes, Ags.</li>
            <li>Horario: De lunes a viernes, de 10:00 a.m. a 10:00 p.m.</li>
        </ul>
    </div>
  </div>
<br>
<div class="contenedor">
    <div class="izquierda">
        <p>Si necesitas indicaciones para llegar a nuestro cine, puedes encontrar nuestro mapa de ubicación en nuestra página "Contáctanos". ¡Esperamos que te resulte fácil llegar a nuestro cine!</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5466.595681947902!2d-102.31355050113743!3d21.912110365690744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ef1da1ab338d%3A0x89a0246637c42ddb!2sUniversidad%20Aut%C3%B3noma%20de%20Aguascalientes!5e0!3m2!1ses-419!2smx!4v1684007313133!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="derecha">
        <p>Si prefieres contactarnos por teléfono o correo electrónico, puedes encontrar nuestras formas de contacto en la misma página "Contáctanos". Estaremos encantados de responderte lo antes posible.</p>
        <p>Síguenos en nuestras redes sociales para enterarte de todas nuestras novedades:</p>
        <ul>
            <li><a href="https://www.facebook.com/micinefavorito/">Facebook</a></li>
            <li><a href="https://www.twitter.com/micinefavorito/">Twitter</a></li>
            <li><a href="https://www.instagram.com/micinefavorito/">Instagram</a></li>
        </ul></div>
  </div>
<br>

<p>Nuestra política de privacidad está disponible <a href="politica-de-privacidad.html">aquí</a>.</p>
<br>