body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    color: #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #cc9a9a;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #587ca3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #1f3b58;
  }
  header {
    background-color: #587ca3;
    color: #fff;
    padding: 20px;
    font-family: "Century Gothic", "Lato", sans-serif;
  }

/* Estilos para la información de contacto */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #97daf1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.contenedor {
    display: flex; /* Agregamos un contenedor flexible */
    justify-content: space-between; /* Espacio uniforme entre las divisiones */
    align-items: center; /* Centramos verticalmente el contenido */
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    color: #fffdfd;
    font-size: 16px;
}
  
  .izquierda, .derecha {
    width: 48%; /* Ancho de cada división */
    padding: 15px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .izquierda {
    background-color: #f2f2f21a; /* Fondo de la división izquierda */
    font-size: 16px;

  
}
  
  .derecha {
    background-color: #18121218;
    font-size: 20px;
  }
  