body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  background: #eeeeee00;
  text-align: center;
}

.et-hero-tabs h1 {
  font-size: 2rem;
  letter-spacing: 1rem;
}

.et-hero-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

@media (min-width: 800px) {
  .et-hero-tabs h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

header {
  background-color: #587ca3;
  color: #fff;
  padding: 20px;
  font-family: "Century Gothic", "Lato", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* align-content: space-evenly; */
}
.box-item {
  border: dotted #587ca3 1px;
  background-color: #587ca3;
}

.box-info {
  padding: 15px 20%;
  position: relative;
  z-index: 1;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.box-info h6 {
  margin-top: 22px;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Century Gothic", "Lato", sans-serif;
}

.box-info p {
  color: #4d4d4d;
  margin-top: 15px;
  font-size: 0.875rem;
}

.info-box__shadow:hover {
  box-shadow: 0 20px 60px 0 rgba(125, 55, 183, 0.541);
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

[class*="info-box__shadow"] {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

i.fal {
  font-size: 2em;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-self: center;
  font-family: "Century Gothic", "Lato", sans-serif;
  font-size: 0.875rem;
}

.masonry-item {
  margin: 0.0002%;
  width: 258px;
}

.masonry-item img {
  width: 200px;
  height: 300px;
  height: auto;
  display: block;
  align-content: center;
}
.vid{
  display: flex;
  align-items: center;
  text-align: center;
  /* align-items: center; */
}


img {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards__item {
display: flex;
padding: 1rem;
@media(min-width: 40rem) {
  width: 50%;
}
@media(min-width: 56rem) {
  width: 33.3333%;
}
}

.card {
background-color: white;
border-radius: 0.25rem;
box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
display: flex;
flex-direction: column;
overflow: hidden;
&:hover {
  .card__image {
    filter: contrast(100%);
  }
}
}


.card__image {
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
filter: contrast(70%);
filter: saturate(180%);
overflow: hidden;
position: relative;  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
&::before {
  content: "";
  display: block;
  padding-top: 56.25%; 
}
@media(min-width: 40rem) {
  &::before {
    padding-top: 66.6%; 
  }
}
}

.card__image--flowers {
background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
background-image: url(https://unsplash.it/800/600?image=59);
}

.card__image--city {
  background-image: url(https://unsplash.it/800/600?image=32);
}

h3{
  color: black;
}