@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import '~primeicons/primeicons.css';

body{
    background-color: rgb(46, 46, 46);
}

h1, h2, h3, h4, h5{

    font-weight: 200;
    color: white;

}

p, hr{
    color: white;
}

.cursor{
    cursor: pointer;
}
